/*! responsive-nav.js 1.0.39 by @viljamis */
.col-md-4 {
  margin: auto;
  padding: 2em 4em 2em 0;

}
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}
@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  background-color: gold;
}
.nav-collapse li {
  width: 100%;
  display: block;
}
.nav-collapse.opened {
  max-height: 9999px;
}
.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.navbar-toggle {
  background-color: gold;
}
p {
  font-size: 1em;
}
.pioneer-column {
  margin: 0 1em;
}