
/*.bannerContainer {
    position:relative;   
}*/
.learn-more {
    text-align: left;
    float: left;
}
.modal-button {
    float: right;
 }
.modal-body {
    height: 500px;
 }
 .hide-block{
    display: none;
}

 #modalframe {
    padding: 10px;
    width: 100%;
    height: 100%;
 }
body {

    background-image: url("../img/wpid-Binary-Wallpaper-19.jpg");
    background-attachment: fixed;
    position: relative;
    margin-right: 10%;
}
.form-control {
    width: 80%;

}
.video {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20em;
}
/*<style type="text/css">
 
*/
#share-buttons img twitter-share-button{
border: 0;
box-shadow: 0;
display: inline-block;
}
 

/*.twitter-share-button {
    margin-left: 85%;
}*/
.anchordiv {
    padding-top: 100px;
}
#accordion {
      background-color: #ededed;
      margin: 0 9%;

}
ul.socia-new {
    list-style: none;
    width: auto;
    display: inline-block;
    font-size: 1.5em;
    background-color: white;
    padding: 0 1em 1em 1em;
    border-radius: 4px;

}
.projectName  {
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0 0 0 30px;
}
#contact{
    background-image: url("../img/desktop.jpg");
    /*Add a background image*/
    background-attachment: fixed;
    /*Give the background a fixed position; it does not scroll when you scroll*/
    background-size: cover;
    /*Have the background cover the entire div section*/
    color: white;
    /*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
    padding: 0 5% 5% 5%;

}
.footer {
    width: cover;
    padding: 2em;
    background-color: lightgray;
}

.button-link {
    padding: 2px;
     text-decoration: underline;
    text-transform: capitalize;
    font-size: 5em;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
     text-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-link:hover {
    background-color: #white;
    border: solid 1px #white;
    text-decoration: none;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #white;
    border: solid 1px #203E5F;
}
#carousel {
    position: relative;
    margin: 0 auto;   
    z-index:  14;
}
.carousel-caption {
    top: 1%;
    max-height: 50%;
}   

.carousel-inner {
    margin: 0 auto;
}
.carousel-inner > .item > img {
    min-width: 100% !important;
    height: 100% !important; 
    margin: 0 auto;
}

.carousel-caption h4 {
    color: black;
    font-size: 1em;
    text-align: center;
    background-color: #D3D3D3;
    margin: 70% 80% 20% 10%;

}
.navbar-default {
    margin-left: -1.2em !important; 
    text-align: left;
    background-color: #222;
    margin-top: 250px;
}
/*.an-default {
    margin-left: -1.2em !important; 
    background-color: transparent;*/

.anchordiv {
    padding-top: 100px;
}
.nav {
    float: right;
}
/* large desktop */
@media (min-width: 1200px) {
    .carousel-caption p {
            font-size: 1em;
            line-height: 1.4;
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)
   .carousel-caption p {
            font-size: 1em;
            line-height: 1.4;
            bottom: 30%;
}
/* landscape phone to portrait tablet */
@media (max-width: 767px) {
   .carousel-caption p {
            font-size: 1em;
            line-height: 1.4;
}
/* landscape phones and down */
@media (max-width: 480px) {
       .carousel-caption p {
            font-size: 1em;
            line-height: 1.4;
        }
        }


.skills h3 {
    text-align: center;
    text-transform: uppercase;
}

.nav { width: 100%;}
.nav ul { list-style: none; text-transform: capitalize; padding: 0px; margin-left: -1.2em; font-size: 2em; font-weight: bold; text-align: center; }
.nav ul li { display: inline-block; }
.nav ul li a { display: inline-block; padding: 0 0 0 0; text-decoration: none;}
.nav ul li a:hover {color: DarkGreen; }

@media (max-width:48.000em){
    .example-header .container { width: 100%; }
    .nav ul { width: 100%; font-weight: normal; }
    .nav ul li { width: 100%; float: left; background-image: url("../img/background.jpg"); font-size:  .75em;}
    .nav ul li:nth-of-type(odd) a { }
    .nav ul li a { padding: 8px 0px; border-bottom: 1px solid #ccc; display: block; }
}

a:link, a:visited {
    display: inline;
    width: auto;
    font-size: 1em;

 }
.header {
    min-height: 20%;
    width: 100%;
    padding-left: 3em;

 }
 
.header, h1 {
    text-align: left;
    padding-bottom: .25em;
    padding-left: 3em;
}

p a:link, a:visited {
    display: inline;
    text-transform: underline;
    color: blue;
}
/* mouse over link */
p, li a:hover {
    font-size: 1em;
}
p, li {
    font-size: 1em;
}
.carousel-indicators {
    background-color: DarkGrey;
    width: 20% !important;
    position: relative;
    padding-bottom: 5%;
}
/*Typography*/
h1, h2, h3 {
	font-family: Futura, Helvetica, Arial, sans-serif;
}
.intro h2 {
	font-family: Futura, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 300;
    ~web-kit-margin-before: 0;

}
p, li {
    font-size: 1.2em;
    margin: auto .2em auto 0.2em !important;
}

.container {
    width: 80%;
    align: left;
    padding: 15em 5em 5em 0;

}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
p {
    font-size: 1em
    color: auto;

}


